.headerchild{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0px 50px;
    padding-top: 10px;
    padding-bottom: 15px;
   position: sticky;
   top: 0;
   z-index: 100;
   background-color: white;
   width: 100%;
}

.headerchild .child1 .logo{
    font-size: 40px;
    color: rgb(41, 40, 40);
    cursor: pointer;
}
.headerchild .child2{
 
}

.headerchild .child2 ul{
    list-style: none;
    font-size: 14px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.headerchild .child2 .highlight{
    border: 1px solid rgb(41, 40, 40);
    background-color: rgb(41, 40, 40);
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
}

@media only screen and (max-width: 800px) {
    .headerchild .child2 ul li{
        display: none;
    }
    .headerchild .child2 ul .sign{
        display: block;
    }
    .headerchild .child2 .highlight{
       display: block;
    }
    
  }
@media only screen and (max-width: 600px) {
    .headerchild{
       
        padding: 0px 20px;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    
    .headerchild .child2 ul .sign{
        display: none;
    }
    .headerchild .child2 .highlight{
       display: block;
    }
    
  }